<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/base.css">
	<style>	
		body{
			margin:0;
			padding:0;
		}

	</style>
</head>
<body>
	<div class="paper">
		<img src="/gfx/MetaBoard/board.png" style="left:0; top:0;"/>
		<div class="logo"></div>
		<div class="playarea" style="padding-top: 30px;">
			<img src="/static/movemade.png" />
			
		</div>
		<img src="/gfx/PracticeBoard/pacman.{{ dirn }}.png" 
			 style="position: absolute; left:310px; top:344px;"/>
	</div>
</body>